@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.dates {
    header {
        margin-bottom: -154vw;

        .title {
            letter-spacing: rem(18px);
        }

        .img {
            width: 150%;
            left: -25%;
        }
    }

    .page-content {
        background-color: transparent;
        padding: 0;
    }

    li {
        // background-color: map-get($colors, off-white);
        // padding: 1rem;

        &:nth-child(1) {

            h2 {
                letter-spacing: rem(18.334px);
            }
        }

        &:nth-child(2) {

            h2 {
                letter-spacing: rem(15.89px);
            }
        }

        &:nth-child(3) {

            h2 {
                letter-spacing: rem(17.769px);
            }
        }

        &:nth-child(4) {

            h2 {
                letter-spacing: rem(9.165px);
            }
        }

        &:nth-child(5) {

            h2 {
                letter-spacing: rem(38px);
            }
        }

        &:nth-child(6) {

            h2 {
                letter-spacing: rem(16px);
            }
        }

        &:nth-child(7) {

            h2 {
                letter-spacing: rem(19px);
            }
        }

        &:nth-child(8) {

            h2 {
                letter-spacing: rem(21px);
            }
        }

        p {
            overflow: hidden;
        }

        span {
            @include media(m) {
                width: 50%;
                margin: 0 1rem 1rem 0 !important;
                float: left;
            }
        }
    }
}

// .dates {
//
//     li {
//         $dim: 2rem;
//         background-color: map-get($colors, off-white);
//         position: relative;
//         margin-bottom: 2rem;
//         margin-top: 6rem;
//         padding: .5rem;
//
//         &::before,
//         &::after {
//             @include pseudo;
//         }
//
//         &::before {
//             width: $dim;
//             height: $dim;
//             border: 1rem solid map-get($colors, red);
//             background-color: map-get($colors, pink);
//             border-radius: 50%;
//             top: -5rem;
//             left: calc(50% - #{$dim});
//
//             @include media(l) {
//                 top: 0;
//                 left: -10rem;
//             }
//         }
//
//         &::after {
//             width: 1rem;
//             background-color: map-get($colors, red);
//             top: -1.1rem;
//             height: calc(100% + 2.15rem);
//             left: calc(50% - .5rem);
//             z-index: -1;
//
//             @include media(l) {
//                 height: calc(100% + 2rem);
//                 top: $dim * 1.5;
//                 left: -8.5rem;
//             }
//         }
//
//         @include media(l) {
//             @include tilted-box;
//             margin-left: 15rem;
//             margin-top: 3rem;
//         }
//
//         &:first-child {
//             margin-top: 5rem;
//
//             @include media(l) {
//                 margin-top: 0;
//             }
//         }
//
//         &:last-child {
//
//             &::after {
//                 display: none;
//             }
//         }
//
//         p {
//             overflow: hidden;
//         }
//
//         h2 {
//             @include tilted-title;
//             color: map-get($colors, green);
//             font-size: 2rem;
//             @include font($sans: false);
//             font-style: italic;
//             margin-bottom: 1rem;
//         }
//
//         span {
//             width: 100% !important;
//             margin: 0 1rem 0 0 !important;
//             float: left;
//
//             @include media(m) {
//                 width: 50% !important;
//             }
//
//             @include media(l) {
//                 width: 25% !important;
//             }
//         }
//
//         img {
//             filter: grayscale(1);
//         }
//     }
// }
