@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.article {
    header {
        margin-bottom: -157vw;

        .title {
            letter-spacing: rem(20px);
        }

        .img {
            width: 150%;
            left: -25%;
        }
    }
}

// .page-content {
//
//     dt {
//         @include tilted-title;
//     }
//
//     dd {
//         background-color: map-get($colors, off-white);
//         padding: 1rem;
//         @include tilted-box;
//     }
//
//     dd + dt {
//         margin-top: 2rem;
//     }
// }
