@import "../styles/reset.scss";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

//https://coolors.co/eba4ac-dd4d28-364f28-393e41-e7e5df

body {
    background: map-get($colors, off-white);
    font-family: 'IBM Plex Sans', sans-serif;
}

main {

    p {
        line-height: 1.5;
    }

    p + p {
        margin-top: 1rem;
    }

    .page--title {
        font-size: 2rem;
        margin: 2rem 1rem;
        padding: 0 0 .5rem;
        border-bottom: rem(2px) solid map-get($colors, pink);
        color: map-get($colors, green);
        position: relative;

        // &::before {
        //     @include pseudo;
        //     background-image: url(../images/pattern.svg);
        //     background-repeat: repeat-x;
        //     background-size: auto 80%;
        //     background-position: center center;
        //     opacity: .25;
        //     left: 0;
        //     right: 0;
        //     top: 0;
        //     bottom: 0;
        // }
    }
}

footer {
    text-align: center;
    margin: 1rem 0 0;
}

// Story styles in global because some classnames are in markdown and cannot generate module classnames.
.story {

    &--section {
        padding: 0 1rem 1rem;

        & + .story--section {
            padding: 2rem 1rem 1rem;
        }

        &:nth-child(even) {
            background-color: map-get($colors, gray);
            color: map-get($colors, off-white);
        }
    }
}

.bubble {
    color: map-get($colors, green);
    font-size: 2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: map-get($colors, pink);
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
    margin: 0 0 3rem;

    &::after {
        @include pseudo;
        bottom: 0;
        width: 0;
        height: 0;
        border: 2rem solid transparent;
        border-top-color: map-get($colors, pink);
        border-bottom: 0;
        margin-bottom: -2rem;
    }

    &.right {
        margin-left: 4rem;

        &::after {
            right: 4rem;
            border-right: 0;
            margin-right: -2rem;
        }
    }

    &.left {
        margin-right: 4rem;

        &::after {
            left: 4rem;
            border-left: 0;
            margin-left: -2rem;
        }
    }
}

p + .bubble {
    margin-top: 2rem;
}
