@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

// .title {
//     @include page-title;
// }
//
// .page-content {
//     @include content-container;
//
//     > * {
//         position: relative;
//         z-index: 1;
//     }
// }

a {
    color: map-get($colors, red);
}

// main > article {
//     padding: 10vw 0;
//     position: relative;
// }

// blockquote {
//     $quote-vert: 0;
//     padding: .5rem .5rem .5rem 1rem;
//     background-color: rgba(map-get($colors, red), .1);
//     margin: .5rem;
//     border-left: .5rem solid rgba(map-get($colors, red), .25);
//     position: relative;
//     font-style: italic;
//
//     &::before {
//         @include pseudo($content: '"');
//         @include font($sans: false);
//         color: rgba(map-get($colors, red), .5);
//         font-size: 3rem;
//     }
//
//     &::before {
//         top: $quote-vert;
//         left: 0;
//     }
//
//     &::after {
//         bottom: $quote-vert;
//         right: .5rem;
//     }
// }
