@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

a {
    color: map-get($colors, red);
}

main > article {
    position: relative;

    @include media(m) {
        display: grid;
        grid-template: auto / 1fr 2fr;
    }

    header {

        @include media(m) {
            margin-bottom: 0;
        }

        .title {
            @include page-title;
        }

        .img {
            position: relative;
            max-width: rem(920px);
        }
    }

    .page-content {
        @include content-container;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'intro_regular';
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: justify;
        color: map-get($colors, green);
    }

    p + h1,
    p + h2,
    p + h3,
    p + h4,
    p + h5,
    p + h6 {
        margin-top: 1rem;
    }
}
