@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

a {
    color: map-get($colors, red);
}

main > article {
    position: relative;

    @include media(m) {
        display: grid;
        grid-template: auto / 1fr 2fr;
    }

    header {

        @include media(m) {
            margin-bottom: 0 !important;
        }

        .title {
            @include page-title;
        }

        .img {
            position: relative;
            max-width: rem(920px);

            @include media(m) {
                top: 8rem;
            }
        }
    }

    .page-content {
        @include content-container;

        em {
            font-style: italic;
        }

        strong {
            font-weight: bold;
        }

        ul {
            position: relative;
            z-index: 1;
        }

        li {
            background-color: map-get($colors, off-white);
            padding: 1rem;
            position: relative;

            &::before,
            &::after {
                @include pseudo;
            }

            &::before {
                width: 1rem;
                height: calc(100% + 3rem);
                background-color: map-get($colors, red);
                top: -1.25rem;
                left: calc(50% - .5rem);
                z-index: -1;

                @include media(m) {
                    top: 4.5rem;
                    left: -8.5rem;
                    height: calc(100% + 1rem);
                }
            }

            &::after {
                @include dot;
                top: -4.99rem;
                left: calc(50% - 2rem);
                background-color: transparent;

                @include media(m) {
                    top: 1rem;
                    left: -10rem;
                }
            }

            &:last-child::before {
                display: none;
            }

            & + li {
                margin-top: 6rem;

                @include media(m) {
                    margin-top: 4rem;
                }
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'intro_regular';
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: justify;
        color: map-get($colors, green);
    }

    p + h1,
    p + h2,
    p + h3,
    p + h4,
    p + h5,
    p + h6 {
        margin-top: 1rem;
    }
}
