@import "../styles/variables.scss";
@import "../styles/functions.scss";
@import "../styles/mixins.scss";

.home {
    background-color: map-get($colors, pink);

    main {
        display: flex;
        flex-direction: column;
        font-family: 'intro_regular';

        @include media(s) {
            section + section {
                margin-top: 2rem;
            }
        }

        @include media(m) {
            display: grid;
            grid-template: repeat(2, auto) / repeat(2, 1fr);
            grid-gap: 1rem;
        }

        section {

            &.box {
                max-width: rem(370px);
                margin-left: auto;
                margin-right: auto;

                @include media(m) {
                    max-width: rem(500px);
                    margin-left: 0;
                    margin-right: 0;
                }

                .title {
                    font-size: 2rem;
                    text-align: center;
                    margin: .5rem;
                    padding: .5rem;
                    background-color: map-get($colors, pink);

                    span {
                        display: block;
                    }
                }

                .img {
                    height: rem(300px);
                    display: grid;
                    align-items: center;
                    padding: 1rem;
                    box-sizing: border-box;
                    overflow: hidden;
                }
            }

            &.splash {
                $color: map-get($colors, off-white);
                background-color: $color;
                color: $color;

                @include media(m) {
                    grid-column: 1 / span 1;
                    grid-row: 2 / span 1;
                }

                .title {
                    letter-spacing: rem(14.755px);
                }
            }

            &.info {
                $color: map-get($colors, green);
                background-color: $color;
                color: $color;

                @include media(m) {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;
                    justify-self: end;
                }

                .title span {

                    &:first-child {
                        letter-spacing: rem(12px);
                    }

                    &:last-child {
                        letter-spacing: rem(10.381px);
                    }
                }
            }

            &.date {
                $color: map-get($colors, red);
                color: $color;

                @include media(m) {
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 1;
                }

                span {
                    display: block;
                    margin: 0 0 .5rem;
                    font-size: 1.25rem;
                    letter-spacing: 1px;

                    @include media(m) {
                        font-size: 2rem;
                        letter-spacing: rem(6.75px);
                    }
                }

                h3 {
                    position: relative;
                    padding-top: 1.5rem;
                    font-size: 4rem;

                    @include media(m) {
                        font-size: 8rem;
                    }

                    &::before,
                    &::after {
                        @include pseudo;
                    }

                    &::before {
                        width: 9999px;
                        height: 1rem;
                        background-color: $color;
                        top: 0;
                        right: rem(1px);
                    }

                    &::after {
                        $dim: 2rem;
                        width: $dim;
                        height: $dim;
                        background-color: map-get($colors, pink);
                        border: solid 1rem $color;
                        border-radius: 50%;
                        top: -1.5rem;
                        right: 0;
                    }
                }
            }
        }
    }
}
