@import "../styles/reset.scss";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,400i,700|IBM+Plex+Serif:400,400i&display=swap');
@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

//https://coolors.co/eba4ac-dd4d28-364f28-393e41-e7e5df

body {
    @include font();
    background-color: map-get($colors, off-white);

    & > div > div > .content {
        background-color: map-get($colors, pink);
    }
}

main {
    max-width: rem(1200px);
    margin: 6.5rem auto 0;
    padding: 1rem;

    @include media(m) {
        margin-top: rem(152px);
    }

    p {
        line-height: 1.5;
    }

    p + p {
        margin-top: 1rem;
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
    position: relative;
}
