@import "../styles/variables.scss";
@import "../styles/functions.scss";

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin page-title {
    color: map-get($colors, green);
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 2rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: inline-block;
    border: rem(5px) solid;
    padding: 0 .25rem;
}

@mixin tilted-top($color: map-get($colors, off-white), $tilt: left) {
    $dimension: #{rem(75px)};
    position: relative;

    &::before {
        @include pseudo;
        top: -$dimension;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        @if ($tilt == left) {
            border-width: $dimension 0 0 100vw;
            border-color: transparent transparent transparent $color;
        }
        @else if ($tilt == right) {
            border-width: 0 0 $dimension 100vw;
            border-color: transparent transparent $color transparent;
        }
    }
}

@mixin tilted-bottom($color: map-get($colors, off-white), $tilt: left) {
    $dimension: #{rem(75px)};
    position: relative;

    &::after {
        @include pseudo;
        bottom: -$dimension;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        @if ($tilt == left) {
            border-width: $dimension 100vw 0 0;
            border-color: $color transparent transparent transparent;
        }
        @else if ($tilt == right) {
            border-width: 0 100vw $dimension 0;
            border-color: transparent $color transparent transparent;
        }
    }
}

@mixin tilted-title {
    transform: rotate(.75deg);
    text-indent: -.5rem;
}

@mixin content-container {
    $dim: #{rem(75px)};
    background-color: map-get($colors, pink);
    padding: 1rem;
    position: relative;

    &::before,
    &::after {
        @include pseudo;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &::before {
        border-width: 0 0 $dim 100vw;
        border-color: transparent transparent map-get($colors, pink) transparent;
        top: -$dim;
        right: 0;
    }

    &::after {
        border-width: $dim 0 0 100vw;
        border-color: transparent transparent transparent map-get($colors, off-white);
        bottom: 0;
        left: 0;
    }

    p {
        z-index: 1;
        position: relative;
        font-size: 1.25rem;
    }
}

@mixin font($font-size: false, $color: false, $font-weight:false, $font-style: false, $line-height: false, $sans: true) {
    @if $font-size { font-size: $font-size; }
    @if $color { color: $color; }
    @if $font-weight { font-weight: $font-weight; }
    @if $line-height { line-height: $line-height; }
    @if $font-style { font-style: $font-style; }
    @if $sans { font-family: 'IBM Plex Sans', sans-serif; }
    @else { font-family: 'IBM Plex Serif', serif; }
}

// BREAKPOINTS
$breakpoints: (
    1: 480px,
    2: 768px,
    3: 1024px
);

@mixin media($size) {
    @if $size == a {
        @media only screen and (min-width: map-get($breakpoints, 1)) {
            @content;
        }
    }
    @if $size == m {
        @media only screen and (min-width: map-get($breakpoints, 2)) {
            @content;
        }
    }
    @else if $size == l {
        @media only screen and (min-width: map-get($breakpoints, 3)) {
            @content;
        }
    }
}
