@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.story {
    header {
        margin-bottom: -42vw;

        .title {
            letter-spacing: rem(13.659px);
        }

        .img {
            width: 125%;
            left: -12.5%;

            // @include media(l) {
            //     // This is so that the red line does not go over the woman's face.
            //     left: -5%;
            // }
        }
    }
}
