@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.directions {
    header {
        margin-bottom: -154vw;

        .title {
            letter-spacing: rem(20px);
        }

        .img {
            width: 150%;
            left: -25%;
        }
    }

    .page-content {
        background-color: transparent;
        padding: 0;

        ul {

            li {
                background-color: map-get($colors, off-white);
                padding: 1rem;

                &:nth-child(1) {
                    h2 {
                        letter-spacing: rem(60px);
                    }
                }

                &:nth-child(2) {
                    h2 {
                        letter-spacing: rem(60px);
                    }
                }

                &:nth-child(3) {
                    h2 {
                        letter-spacing: rem(36px);
                    }
                }

                &:nth-child(4) {
                    h2 {
                        letter-spacing: rem(62px);
                    }
                }

                & + li {
                    margin-top: 6rem;

                    @include media(m) {
                        margin-top: 4rem;
                    }
                }
            }
        }
    }
}

//
// .travel {
//     iframe {
//         margin: 0;
//     }
//
//     .page-content {
//
//         ul {
//
//             @include media(l) {
//                 display: flex;
//                 justify-content: space-between;
//                 flex-wrap: wrap;
//             }
//         }
//
//         li {
//             @include tilted-box;
//             display: flex;
//             flex-direction: column;
//             margin-top: 2rem;
//             background-color: map-get($colors, off-white);
//             background-repeat: no-repeat;
//             background-position: center 1rem;
//             background-size: 5rem;
//
//             @include media(l) {
//                 &:first-child {
//                     width: 100%;
//
//                     & > div {
//                         display: flex;
//
//                         & > * {
//                             flex: 1 1;
//
//                             &:first-child {
//                                 border-right: .1rem solid black;
//                                 padding-right: 1rem;
//                                 margin-right: 1rem;
//                                 text-align: center;
//
//                                 iframe {
//                                     margin: 1rem 0;
//                                     border: .5rem solid rgba(map-get($colors, red), .25);
//                                     box-sizing: border-box;
//                                 }
//                             }
//                         }
//                     }
//                 }
//
//                 &:not(:first-child) {
//                     flex: 1;
//                     margin-right: 1rem;
//                 }
//
//                 &:last-child {
//                     margin-right: 0;
//                 }
//             }
//
//             &:nth-child(1) {
//                 background-image: url(../images/wine.svg);
//             }
//
//             &:nth-child(2) {
//                 background-image: url(../images/hotel.svg);
//             }
//
//             &:nth-child(3) {
//                 background-image: url(../images/plane.svg);
//             }
//
//             &:nth-child(4) {
//                 background-image: url(../images/train.svg);
//             }
//         }
//     }
//
//     h3 {
//         color: map-get($colors, red);
//         font-weight: bold;
//         font-size: 1.5rem;
//         padding: 0 .5rem;
//         margin: 0 0 1.5rem;
//     }
//
//     h2 {
//         @include tilted-title;
//         line-height: 7rem;
//     }
//
//     p {
//         padding: 0 .5rem;
//
//         &:last-child {
//             margin-bottom: 1rem;
//         }
//
//         strong {
//             font-weight: bold;
//         }
//     }
//
//     article span {
//         @include media(sm) {
//             display: none !important;
//         }
//     }
//
//     iframe {
//         @include media(sm) {
//             margin: 0 0 1rem;
//         }
//     }
// }
