@import "../styles/variables.scss";
@import "../styles/functions.scss";
@import "../styles/mixins.scss";

$faces: 75vw;

.intro {
    background-color: map-get($colors, green);
    padding: 2rem 1rem 50vw;
    position: relative;

    .img {
        position: absolute;
        width: $faces;
        height: $faces;
        background-color: map-get($colors, off-white);
        border-radius: 50%;
        left: calc(50vw - #{$faces} / 2);
        z-index: 1;

        & > div {
            overflow: visible !important;
        }

        img {
            margin-top: 1rem;
            margin-left: -10%;
            width: 120% !important;
            height: 120% !important;
            overflow: visible;
        }
    }
}

.info {
    background-color: map-get($colors, pink);
    padding: calc((#{$faces} + 10vw) / 2) 0 0;
    position: relative;

    &::before,
    &::after {
        @include pseudo;
    }

    &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(75px) 0 0 100vw;
        border-color: transparent transparent transparent map-get($colors, off-white);
        bottom: 0;
        left: 0;
    }

    &::after {
        $dim: #{rem(75px)};
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $dim 0 0 100vw;
        border-color: transparent transparent transparent map-get($colors, pink);
        top: -$dim;
        left: 0;
    }

    .img {
        background-color: map-get($colors, pink);
        mix-blend-mode: multiply;
        position: absolute !important;
        // top: 10rem;
        bottom: 10rem;
        right: 0;
        width: 70vw;
        opacity: .5;
        z-index: 1;
    }
}

.title {
    color: map-get($colors, green);
        // @include font($sans: false);
    font-family: 'Courgette', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1;
    margin: 0 0 7rem;
    position: relative;
    background-color: map-get($colors, off-white);
    padding: 1rem 0 .5rem;
    font-style: italic;
    transform: rotate(-2deg);

    // &::before {
    //     @include pseudo;
    //         $dim: #{rem(75px)};
    //     border-style: solid;
    //     border-width: 0 0 $dim 100vw;
    //     border-color: transparent transparent map-get($colors, off-white) transparent;
    //     top: -$dim;
    //     left: 0;
    // }

    // &::after {
    //     @include pseudo;
    //         $dim: #{rem(75px)};
    //     border-style: solid;
    //     border-width: 0 100vw $dim 0;
    //     border-color: transparent map-get($colors, off-white) transparent transparent;
    //     bottom: -$dim;
    //     left: 0;
    // }

    span {
        display: block;
        margin: 1rem 0;
    }

    .name {
        display: inline-block;
        border-top: .25rem solid;
        margin: 0;
    }
}

.date {
    color: map-get($colors, red);
    border: .5rem solid;
    width: 50vw;
    max-width: rem(160px);
    height: 50vw;
    max-height: rem(160px);
    padding: .75rem 1rem;
    position: relative;
    z-index: 1;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;

    &::before,
    &::after {
        @include pseudo;
    }

    &::before {
        width: 10rem;
        height: 10rem;
        background-color: map-get($colors, off-white);
        display: block;
        border-radius: 50%;
        left: 5rem;
        top: 5rem;
        z-index: -1;
    }

    &::after {
        $height: .5rem;
        $left: 1rem;
        width: calc(100% - #{$left} * 2);
        height: $height;
        left: $left;
        top: calc(50% - #{$height} / 2);
        background-color: map-get($colors, red);
    }

    span {
        font-size: 3.5rem;
        flex: 1;
    }
}

.location {
    @include font($sans: false);
    color: map-get($colors, green);
    margin-top: 1rem;
    position: relative;
    font-size: 2rem;
    padding: 0 1rem 5rem;
    text-align: right;

    span {
        line-height: 1;
        font-weight: bold;
        z-index: 1;
        position: relative;

        &:nth-child(1) {
            font-size: 2rem;
        }

        &:nth-child(2) {
            display: block;
            font-size: 2rem;
        }

        & + span {
            margin-top: .5rem;
        }
    }
}

// .home {
//
//     @include media(m) {
//
//         main {
//             display: flex;
//             background-color: red;
//         }
//
//         section {
//             width: 50vw;
//             box-sizing: border-box;
//         }
//     }
// }
//
// .intro {
//     background-color: map-get($colors, green);
//     text-align: center;
//     text-transform: uppercase;
//     position: relative;
//     overflow: hidden;
//     font-style: italic;
//
//     &::before {
//         @include pseudo;
//         width: 70vw;
//         height: 70vw;
//         background-color: map-get($colors, off-white);
//         top: calc(50% - 35vw);
//         left: calc(50% - 35vw);
//         z-index: 1
//     }
//
//     @include media(m) {
//
//         &::before {
//             $dimension: 25vw;
//             $calc: calc(25vw - #{$dimension} / 2);
//             width: $dimension;
//             height: $dimension;
//             left: $calc;
//             top: 2.5rem;
//         }
//
//         &::after {
//             @include pseudo;
//             width: 0;
//             height: 0;
//             bottom: 0;
//             border-style: solid;
//             border-width: rem(100px) 0 0 50vw;
//             border-color: transparent transparent transparent map-get($colors, off-white);
//             z-index: 1;
//         }
//     }
//
//     .img {
//         margin-top: .5rem;
//         z-index: 1;
//
//         @include media(m) {
//             width: 80%;
//             margin-left: 10%;
//         }
//     }
//
//     p {
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         margin-top: 3vw;
//         font-size: 8vw;
//         width: 100%;
//         color: map-get($colors, red);
//         z-index: 1;
//
//         @include media(m) {
//             font-size: 2rem;
//             margin: 0;
//             z-index: 2;
//         }
//     }
//
//     .name {
//         font-size: 12vw;
//         display: block;
//         font-weight: bold;
//         font-style: normal;
//
//         @include media(m) {
//             font-size: 4.5rem;
//         }
//     }
// }
//
// .info {
//     background-color: map-get($colors, pink);
//     padding: 1rem;
//     position: relative;
//
//     &::before {
//         @include pseudo;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: rem(75px) 0 0 100vw;
//         border-color: transparent transparent transparent map-get($colors, off-white);
//         bottom: 0;
//         left: 0;
//     }
//
//     @include media(m) {
//
//         &::before {
//             border-width: 0 0 rem(100px) 50vw;
//             border-color: transparent transparent map-get($colors, off-white) transparent;
//         }
//     }
//
//     &::after {
//         $dim: #{rem(75px)};
//         @include pseudo;
//         width: 0;
//         height: 0;
//         border-style: solid;
//         border-width: $dim 0 0 100vw;
//         border-color: transparent transparent transparent map-get($colors, pink);
//         top: -$dim;
//         left: 0;
//     }
//
//     .date {
//         border: rem(5px) solid #000;
//         display: inline-block;
//         padding: 0 .5rem;
//         font-weight: bold;
//         position: relative;
//         z-index: 1;
//
//         &::before {
//             @include pseudo;
//             width: 10rem;
//             height: 10rem;
//             border-radius: 50%;
//             background-color: map-get($colors, off-white);
//             top: 74%;
//             z-index: -1;
//         }
//
//         span {
//             display: block;
//
//             &:nth-child(1) {
//                 font-size: 11vw;
//
//                 @include media(m) {
//                     font-size: 3rem;
//                 }
//             }
//
//             &:nth-child(2) {
//                 font-size: 13vw;
//                 border-top: rem(5px) solid #000;
//
//                 @include media(m) {
//                     font-size: 3.5rem;
//                 }
//             }
//         }
//     }
//
//     .img-couple {
//         mix-blend-mode: multiply;
//         z-index: 1;
//         opacity: .6;
//     }
//
//     .location {
//         position: absolute;
//         bottom: 24%;
//         color: map-get($colors, green);
//         font-weight: bold;
//         z-index: 1;
//         padding: 0 1rem;
//
//         @include media(m) {
//             bottom: auto;
//             top: 0;
//             right: 0;
//         }
//
//         span {
//             display: block;
//             line-height: 1;
//
//             &:nth-child(1),
//             &:nth-child(2) {
//                 font-size: 18vw;
//
//                 @include media(m) {
//                     font-size: 3rem;
//                 }
//             }
//
//             &:nth-child(3) {
//                 font-size: 15vw;
//
//                 @include media(m) {
//                     font-size: 2.5rem;
//                 }
//             }
//         }
//     }
// }
