@import "../styles/variables.scss";
@import "../styles/functions.scss";
@import "../styles/mixins.scss";

@include media(l) {
    .home main {
        display: flex;

        & > section {
            flex: 1;
        }
    }
}

.splash {
    background-color: map-get($colors, green);
    padding: 2rem 0 0;

    @include media(l) {
        @include tilted-bottom($color: map-get($colors, green), $tilt: right, $width: 50vw);
    }

    .img {
        $dimension: 80vw;
        background-color: map-get($colors, off-white);
        margin: 0 auto;
        border-radius: 50%;
        width: $dimension;
        height: $dimension;
        z-index: 1;
        position: relative;

        @include media(m) {
            $dimension: 50vw;
            width: $dimension;
            height: $dimension;
        }

        & > div {
            overflow: visible !important;
        }

        img {
            margin: 1rem 0 0 -10%;
            width: 120% !important;
            height: 120% !important;
        }
    }
}

.info {
    @include tilted-bottom($color: map-get($colors, pink), $tilt: right);
    background-color: map-get($colors, pink);
    margin: -30vw 0 0;
    padding: 40vw 0 0;
    position: relative;

    @include media(sm) {
        @include tilted-top($color: map-get($colors, pink), $tilt: left);
    }

    @include media(m) {
        margin-top: -16vw;
        padding-top: 24vw;
    }

    @include media(l) {
        @include tilted-bottom($color: map-get($colors, pink), $tilt: left, $width: 50vw);
        padding-top: 0;
        margin-top: 0;
    }

    .img {
        mix-blend-mode: multiply;
        position: absolute;
        bottom: 5rem;
        right: 0;
        z-index: 1;
        width: 60%;

        @include media(m) {
            opacity: .6;
            width: 44%;
            bottom: 4rem;
        }

        @include media(l) {
            $width: 80%;
            bottom: 0;
            width: $width;
            right: calc(50% - #{$width} / 2);
            opacity: .4;
        }
    }
}

.title {
    $width: 95vw;
    background-color: map-get($colors, off-white);
    color: map-get($colors, green);
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 2rem;
    transform: rotate(-2deg);
    padding: .5rem 0 .25rem;
    margin: 0 0 3rem;
    width: $width;
    position: relative;
    left: calc((100vw - #{$width}) / 2);
    line-height: 1;
    z-index: 2;

    @include media(m) {
        font-size: 3rem;
    }

    @include media(l) {
        width: 50vw;
        transform: rotate(0deg);
        left: 0;
        margin-bottom: 2rem;
    }

    strong {
        border-top: .25rem solid;
        line-height: .75;
        display: inline-block;
    }

    span {
        display: block;
        margin: 1rem 0;
    }

    .name {
        display: inline-block;
        border-top: .25rem solid;
        margin: 0;
    }
}

.date {
    $dimension: 50vw;
    width: $dimension;
    height: $dimension;
    margin: 0 0 0 1rem;
    padding: 1rem .5rem;
    color: map-get($colors, red);
    border: .5rem solid;
    width: 50vw;
    max-width: rem(160px);
    height: 50vw;
    max-height: rem(160px);
    padding: .75rem 1rem;
    position: relative;
    z-index: 1;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;

    @include media(l) {
        $margin: 2rem;
        width: auto;
        max-width: none;
        margin: 0 $margin;
        border-bottom-width: 0;
        z-index: 2;

        .month-day {
            display: none;
        }

        .alt-month-day {
            display: block;
        }
    }

    &::before,
    &::after {
        @include pseudo;
    }

    &::before {
        width: 10rem;
        height: 10rem;
        background-color: map-get($colors, off-white);
        border-radius: 50%;
        z-index: -1;
        right: -6rem;
        bottom: -20%;

        @include media(m) {
            right: -22rem;
        }

        @include media(l) {
            display: none;
        }
    }

    &::after {
        $height: .5rem;
        $left: 1rem;
        width: calc(100% - #{$left} * 2);
        height: $height;
        left: $left;
        top: calc(50% - #{$height} / 2);
        background-color: map-get($colors, red);
    }

    span {
        font-size: 3.5rem;
        flex: 1;
    }
}

.alt-month-day {
    display: none;
}

.location {
    @include font($sans: false);
    color: map-get($colors, green);
    margin-top: 1rem;
    position: relative;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: right;

    @include media(m) {
        font-size: 3.5rem;
    }

    @include media(l) {
        color: map-get($colors, red);
        padding: 0 1rem 1rem;
        margin: 0 2rem;
        font-size: 2.5rem;
        @include font($sans: true);
        border: .5rem solid map-get($colors, red);
        border-top-width: 0;
        text-align: center;
    }

    span {
        line-height: 1;
        font-weight: bold;
        z-index: 1;
        position: relative;
        display: block;
    }
}
