@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.story {

    @include media(l) {

        .page-content > div {
            display: grid;
            grid-template: auto / repeat(2, 1fr);
            align-items: flex-start;

            & + div {
                margin-top: 3rem;
            }

            p {
                margin: 0;
            }
        }
    }

    p {
        background-color: map-get($colors, off-white);
        padding: .5rem;
        position: relative;

        @include media(l) {
            grid-column: 2 / 3;
        }
    }
}
