@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.our-story section {
    @include content-container;
}

.title {
    @include page-title;
}

.story {
    
    p {

        &:nth-child(odd) {
            margin-bottom: 12vw;
            font-size: 8vw;
            color: map-get($colors, red);
            font-style: italic;
            font-weight: bold;
            max-width: 75%;
            transform: rotate(-5deg);

            &::before,
            &::after {
                @include pseudo;
            }

            &::before {
                background-color: map-get($colors, off-white);
                width: 60%;
                height: 120%;
                z-index: -1;
                border-radius: 2vw;
            }

            &::after {
                width: 0;
                height: 0;
                border-style: solid;
                bottom: calc(-20% - 6vw);
            }
        }

        &:nth-child(1) {
            text-align: right;
            float: right;
            padding-right: 1rem;

            &::before {
                right: 0;
            }

            &::after {
                border-width: 0 6vw 6vw 0;
                border-color: transparent map-get($colors, off-white) transparent transparent;
                right: 4vw;
            }
        }

        &:nth-child(3) {
            margin-top: 3rem;
            float: left;
            padding-left: 1rem;

            &::before {
                left: 0;
            }

            &::after {
                border-width: 6vw 6vw 0 0;
                border-color: map-get($colors, off-white) transparent transparent transparent;
                left: 4vw;
            }
        }

        &:nth-child(even) {
            clear: both;
        }
    }
}
