@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.dates {

    li {
        $dim: 2rem;
        position: relative;
        padding-bottom: 4rem;
        background-color: map-get($colors, pink);
        background-size: contain;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: top right;

        &::before,
        &::after {
            @include pseudo;
        }

        &::before {
            width: $dim;
            height: $dim;
            border: 1rem solid map-get($colors, red);
            border-radius: 50%;
            top: 0;
            left: calc(50% - #{$dim});
        }

        &::after {
            width: 1rem;
            height: calc(100% - #{$dim} * 1.25);
            background-color: map-get($colors, red);
            top: $dim * 1.5;
            left: calc(50% - .5rem);
        }

        &:first-child {
            background-image: url(../images/dancing-girl.jpg);
        }

        &:last-child {
            // padding-bottom: 0;

            &::after {
                height: calc(100% - #{$dim} * 1.5);
            }
        }

        h2,
        h3 {
            color: map-get($colors, green);
            font-size: 2rem;
            @include font($sans: false);
            font-style: italic;
            z-index: 1;
            position: relative;
            background-color: map-get($colors, off-white);
        }

        h2 {
            transform: rotate(-.5deg);
            text-indent: -1vw;
            margin: 1rem 0;
        }

        h3 {
            max-width: calc(50vw - #{$dim} * 1.5);
            transform: rotate(.75deg);
            text-indent: -1vw;
        }

        p {
            background-color: map-get($colors, off-white);
            padding: .5rem;
        }
    }
}

.page-content::after {
    z-index: 1;
}
