@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.dates section {
    @include content-container;

    li {
        position: relative;
        padding: 5rem 0 4rem;
        background-size: contain;
        background-blend-mode: multiply;
        background-color: map-get($colors, pink);
        background-repeat: no-repeat;

        &:first-child {
            background-image: url(../images/dancing-girl.jpg);
            background-position: right top;
        }

        &:nth-child(2) {
            background-image: url(../images/couple-back.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/bride.jpg);
        }

        &:last-child {
            padding-bottom: 0;
        }

        &::before,
        &::after {
            @include pseudo;
        }

        &::before {
            $dim: 2rem;
            width: $dim;
            height: $dim;
            background-color: map-get($colors, pink);
            border: 1rem solid map-get($colors, red);
            border-radius: 50%;
            top: 0;
            left: calc(50% - #{$dim});
            z-index: 2;
        }

        &::after {
            width: 1rem;
            height: 100%;
            background-color: map-get($colors, red);
            top: 0;
            left: calc(50% - .5rem);
            z-index: 1;
        }

        & > * {
            z-index: 2;
        }

        &:nth-child(even) {
            h2,
            h3 {
                text-align: right;
            }
        }

        h2,
        h3 {
            color: map-get($colors, green);
            font-size: 2rem;
            font-weight: bold;
            position: relative;
        }

        h2 {
            border: 5px solid;
            padding: .25rem .5rem;
            margin-bottom: 2rem;
        }

        h3 {
            margin-bottom: 2rem;
        }

        p {
            position: relative;
            background-color: map-get($colors, off-white);
        }
    }
}

.title {
    @include page-title;
}
