@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";


.site-header {
    background-color: map-get($colors, red);
    padding: 1rem 2rem;
    color: map-get($colors, off-white);
    position: relative;

    &::before {
        @include pseudo;
        background-image: url(../images/pattern.svg);
        background-repeat: no-repeat;
        background-size: auto 80%;
        background-position: .5rem center;
        opacity: .25;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }

    & > * {
        position: relative;
    }

    &--title {
        font-family: 'Bree Serif', serif;
        font-size: 1.99rem;
        text-align: center;
        margin: 0 0 1rem;
    }

    &--list {
        display: flex;
        justify-content: center;
        list-style: disc;

        span {
            position: relative;
            left: rem(-5px);
        }

        li:first-child {
            list-style-type: none;
        }

        li + li {
            margin: 0 0 0 1.25rem;
        }
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }
}
