@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";

.site-header {
    $dimension: 5rem;
    background-color: map-get($colors, green);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;

    &__logo {
        height: $dimension;
        fill: map-get($colors, off-white);
        position: absolute;
        opacity: .25;
        top: 0;
        left: calc(50% - #{$dimension} / 2);
    }

    &__title {
        line-height: $dimension;
        font-size: $dimension;
        position: relative;
    }

    &__home {
        color: map-get($colors, pink);
        text-decoration: none;
    }

    @include media(l) {
        $dimension: 4rem;

        &__logo {
            height: $dimension;
            left: calc(50% - #{$dimension} / 2);
        }

        &__title {
            line-height: $dimension;
            font-size: $dimension;
        }
    }
}

.navigation {
    $rotate: .5deg;

    &__input {
        display: none;

        &:checked {

            & ~ .navigation__label .navigation__icon,
            & ~ .navigation__label .navigation__icon::before,
            & ~ .navigation__label .navigation__icon::after {
                background: map-get($colors, green);
                z-index: 1;
            }

            & ~ .navigation__list {
                opacity: 1;
                top: 0;
                overflow: scroll;
            }

            & ~ .navigation__label .navigation__icon {
                transform: rotate(45deg);

                &::before,
                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__label {
        position: absolute;
        width: 2.5rem;
        height: 100%;
        top: 0;
        left: 1.5rem;

        @include media(m) {
            display: none;
        }
    }

    &__icon {
        $height: .25rem;
        $position: calc(#{$height} * 3);
        position: relative;
        top: calc(50% - #{$height} / 2);

        &,
        &::before,
        &::after {
            width: 100%;
            height: $height;
            background-color: map-get($colors, pink);
            transition: all 0.5s ease-out;
        }

        &::before,
        &::after {
            @include pseudo;
        }

        &::before {
            top: calc(#{$position} * -1);
        }

        &::after {
            top: $position;
        }
    }

    &__list {
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 5rem 1rem;
        box-sizing: border-box;
        background-color: map-get($colors, pink);
        opacity: 0;
        top: -100vh;
        transition: opacity .75s ease-out;

        @include media(m) {
            position: static;
            top: 0;
            opacity: 1;
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            height: auto;
            padding: 1rem;
        }

        @include media(l) {
            padding: .5rem 1rem;
        }
    }

    &__list-item {
        line-height: 1;
        font-size: 3rem;
        transform: rotate($rotate);
        font-weight: bold;

        &:nth-child(even) {
            transform: rotate(-$rotate);

            & .navigation__list-span {
                transform: rotate($rotate);
            }
        }

        & + .navigation__list-item {
            margin-top: 3rem;
        }

        @include media(m) {
            font-size: 1.25rem;
            transform: rotate(0deg);
            font-weight: lighter;

            &:nth-child(even) {
                transform: rotate(0deg);

                & .navigation__list-span {
                    transform: rotate(0deg);
                }
            }

            & + .navigation__list-item {
                margin: 0;
            }
        }
    }

    &__list-span {
        background-color: map-get($colors, off-white);
        padding: 0 1rem;
        transform: rotate(-$rotate);

        @include media(m) {
            background-color: transparent;
        }
    }

    &__link {
        text-decoration: none;
        color: map-get($colors, green);

        @include media(m) {
            color: map-get($colors, off-white);
        }
    }
}
