@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../styles/functions.scss";


.site-header {
    $header-height: #{rem(75px)};
    @include font($color: map-get($colors, off-white));
    background-color: map-get($colors, green);
    padding: 1rem 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 16vw;
    box-sizing: border-box;
    top: 0;

    @include media(m) {
        height: 18vw;
    }

    svg {
        $dim: 15vw;
        height: $dim;
        position: absolute;
        top: calc(50% - #{$dim} / 2);
        left: calc(50% - #{$dim} / 2);
        fill: rgba(255,255,255,.3);
    }

    &__title {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 6.25vw;
        text-align: center;
        line-height: 16vw;

        @include media(m) {
            // margin: 0 1rem 1rem;
            line-height: 1;
            top: auto;
            bottom: 0;
        }
    }

    a {
        @include font($color: map-get($colors, pink));
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14vw;
    }
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;

    @include media(m) {
        position: static;
    }

    &__input {
        display: none;

        &:checked {

            & ~ .navigation__label .navigation__icon,
            & ~ .navigation__label .navigation__icon::before,
            & ~ .navigation__label .navigation__icon::after {
                background: map-get($colors, green);
            }

            & ~ .navigation__list {
                z-index: 2;
                opacity: 1;
                top: 0;
                overflow: scroll;
            }

            & ~ .navigation__label .navigation__icon {
                transform: rotate(45deg);

                &::before,
                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__label {
        $dim: 2rem;
        width: 2.5rem;
        height: $dim;
        display: block;
        position: absolute;
        top: calc(16vw / 2 - (#{$dim} / 2));
        left: calc(16vw / 2 - (#{$dim} / 2));
        // left: 1.25rem;
        z-index: 3;

        @include media(m) {
            display: none;
        }
    }

    &__icon {
        $height: #{rem(4px)};
        $position: -.75rem;
        position: relative;
        top: calc(50% - (#{$height} / 2));

        &,
        &::before,
        &::after {
            width: 100%;
            height: $height;
            background: map-get($colors, pink);
            transition: all 0.5s ease-out;
        }

        &::before,
        &::after {
            @include pseudo;
        }

        &::before {
            top: $position;
        }

        &::after {
            bottom: $position;
        }
    }

    &__list {
        position: fixed;
        z-index: -1;
        background-color: rgba(map-get($colors, pink), .8);
        opacity: 0;
        width: 100%;
        height: 100%;
        padding: 4rem 1rem 2rem;
        box-sizing: border-box;
        text-align: center;
        transition: opacity .75s ease-out;
        top: -9999px;

        @include media(m) {
            position: relative;
            opacity: 1;
            z-index: auto;
            background-color: transparent;
            display: flex;
            padding: 0;
            justify-content: space-evenly;
            top: 0;
        }
    }

    &__list-item {
        @include font($font-size: 2rem, $line-height: 1, $font-weight: bold);

        a {
            color: map-get($colors, green);

            @include media(m) {
                @include font($color: map-get($colors, pink), $font-size: 1rem);
            }
            @include media(l) {
                padding: .25rem .5rem;
            }
        }

        & + .navigation__list-item {
            margin-top: 3rem;

            @include media(m) {
                margin: 0;
            }
        }
    }
}
