@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans&display=swap');
@import "../styles/variables.scss";

//https://coolors.co/eba4ac-dd4d28-364f28-393e41-e7e5df

body {
    background: map-get($colors, off-white);
}

main {
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;

    p {
        line-height: 1.5;
    }

    p + p {
        margin-top: 1rem;
    }
}

footer {
    text-align: center;
    margin: 1rem 0 0;
}
